.App {
  text-align: center;
}

.main-option-div{
  margin-top: 20px;
}

.option-div{
  display: flex;
  flex-wrap: wrap;
}

.actual-option-div{
  padding-left: 10px;
  float: right;
  
}

.next-button{
  align-items: center;
  margin-left: 10px;
}
